{% comment %} 根据URL路径判断语言环境 {% endcomment %}
{% assign lang_suffix = "" %}
{% if page.url contains '/zh/' or page.url == '/zh' %}
  {% assign lang_suffix = "_zh" %}
{% endif %}
<div>
{% assign target_data = "pi" | append: lang_suffix %}
{% for member in site.data[target_data] %}
<div class="jumbotron">
   <center>
   <!-- <a href="{{site.url}}{{site.baseurl}}/About"><img src="{{site.url}}{{site.baseurl}}/images/{{ member.photo }}" width="60%" style="block:inline; margin-left:auto; margin-right:auto; margin-bottom:5px;"/></a> -->
   <a><img src="{{site.url}}{{site.baseurl}}/images/{{ member.photo }}" width="60%" style="block:inline; margin-left:auto; margin-right:auto; margin-bottom:5px;" alt="描述图片内容"/></a>
   <h4>{{ member.name }}</h4>
   <div style="margin-bottom:5px">
   {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square fa-3x"></i></a> {% endif %}
   {% if member.cv %} <a href="{{ site.url }}{{ site.baseurl }}/{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-3x"></i></a> {% endif %}
   {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-3x"></i></a> {% endif %}
   {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-3x"></i></a> {% endif %}
   {% if member.researchgate %} <a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-3x"></i></a> {% endif %}
  </div>
  </center>

  <ul style="overflow: hidden">
    {% for education in member.educationshort %}
      <li>{{ education | replace: "-","&#8211;" }}</li>
    {% endfor %}
  </ul>

</div>
{% endfor %}
</div>

<div class="jumbotron">
  <h4>{% if lang_suffix == "_zh" %}最新动态{% else %}Latest work{% endif %}</h4>
  {% assign target_data = "news" | append: lang_suffix %}
  {% for article in site.data[target_data] limit:3 %}
  <b>{{ article.date }}</b>
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  {% if page.url contains '/zh/' or page.url == '/zh' %}
    <h5><a href="{{ site.url }}{{ site.baseurl }}/zh/Publications/">more...</a></h5>
  {% else %}
    <h5><a href="{{ site.url }}{{ site.baseurl }}/Publications/">more...</a></h5>
  {% endif %}
</div>
